.account {
  display: block;
}
.account .connectBtn {
  width: 100%;
  background: var(--color-black);
  border-radius: 8px;
  padding: var(--padding-narrow);
  font-weight: 500;
  font-size: 20px;
  color: var(--color-white);
  outline: none;
}

.account .darkConnectBtn {
  background: var(--color-white);
  color: var(--color-black);
}

.info {
  display: flex;
  align-items: center;
  color: var(--color-black);

  padding: 8px;
  border-radius: 40px;
  border: 1px solid var(--color-divider);
  min-height: 46px;
}

.darkInfo {
  background-color: #0F0F12;
  border: none;
}

.info a {
  display: flex;
}

.info img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.info p {
  padding: 0 8px;
  font-size: var(--font-size-small);
  font-weight: bold;
}

.info span {
  color: var(--color-gray);
  font-weight: normal;
}

.darkInfo p {
  color: #FFFFFF;
}
.darkInfo span {
  color: #7D7D7D;
}