.assetInfo {
  display: block;
  margin-top: var(--padding-normal);
}

.apySection {
  border-top: 1px solid var(--color-divider);
  border-bottom: 1px solid var(--color-divider);
  padding: 16px 0px;
}

.darkAssetInfo .apySection {
  border-top: 1px solid #1A1A1A;
  border-bottom: 1px solid #1A1A1A;
}

.darkAssetInfo span {
  color: white;
}

.borrowSection {
  padding: 16px 0px;
}

.label {
  font-weight: bold;
}

.info {
  padding: 8px 0;
}

.info img {
  width: var(--padding-normal);
  height: var(--padding-normal);
  margin-right: var(--padding-narrow);
}
