.loader {
  padding: var(--padding-normal);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader p {
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 150%;
  text-align: center;
}

.loader img {
  width: 50%;
  margin: var(--padding-normal);
}
