.loader {
  padding: var(--padding-normal);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader .loadingAnimation {
  width: 80px;
  height: 80px;
  background-image: url('/assets/tx_pending.gif');
  border-radius: 50%;
  background-size: contain;
  padding: 8px;
}

.loader p {
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  margin-top: 15px !important;
  margin-bottom: 40px !important;
}

.darkLoader p {
  color: var(--color-white);
}

.loader img {
  width: 50%;
  max-width: 100px;
  margin: var(--padding-normal);
}

.loader button {
  background-color: transparent;
  color: #0047FF;
  font-size: 120%;
}
