.farm{
  cursor: pointer;
}

.farm td > div {
  word-break: break-all;
}

.farm td p {
  word-break: break-all;
}

.assetIcon {
  margin-right: 32px;
}

.logo {
  width: calc(var(--padding-normal) * 2);
  text-align: center;
  height: calc(var(--padding-normal) * 2);
  border-radius: 50%;
  background-color: var(--color-lightgray);
}

.mobileLabel {
  display: none;
  font-size: var(--font-size-normal);
  color: var(--color-gray);
}

.usdPrice {
  color: var(--color-gray);
  font-size: var(--font-size-small);
}
.darkUsdPrice {
  color: var(--color-white);
}
.tokenList {
  display: flex;
  align-items: center;
}
.tokenList img {
  border: 1px solid gray;
  background-color: white;
  border-radius: 50%;
}
.tokenList .moreToken {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #627EEA;
  box-sizing: border-box;
  border-radius: 50%;
  font-weight: 500;
  font-size: 11px;
  color: black;
  margin-left: -8px;
}
.btn {
  width: 98px;
  height: 40px;
  background: var(--color-black1);
  color: var(--color-white);
  border-radius: 8px;
}

.darkBtn {
  background: #2E69FF;
}

@media all and (max-width: 567px) {
  .mobileLabel {
    display: block;
  } 
}