.market{
  cursor: pointer;
}

.logo {
  width: calc(var(--padding-normal) * 2);
  text-align: center;
  margin-right: var(--padding-narrow);
  height: calc(var(--padding-normal) * 2);
}

.textOpacity {
  color: var(--color-black-04);
}

.balanceUsd {
  font-size: 12px;
  color: var(--color-gray);

  display: flex;
  align-items: center;
}

.balanceUsd img {
  width: 16px !important;
  height: 16px !important;
}

.progress {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: var(--color-black-04);
  border-radius: 3px;
  margin-right: calc(var(--padding-narrow) / 2);
}

.percent {
  position: absolute;
  height: 5px;
  left: 0;
  background-color: var(--color-hightlight);
  border-radius: 3px;
}

.mobileLabel {
  display: none;
  font-size: var(--font-size-normal);
  color: var(--color-gray);
}

@media all and (max-width: 567px) {
  .mobileLabel {
    display: block;
  } 
}