body {
  margin: 0;
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBF9F8;
  color: #282B49;
}

// Bootstrap framework includes
// @import '../node_modules/bootstrap/scss/bootstrap';

div {
  box-sizing: border-box;
}

// Helpers

.text-center {
    text-align: center;
}

.font-color-dark {
    color: #282B49;
}

.font-size-lg {
    font-family: "Montserrat";
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: 122%;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        font-size: 28px;
    }
}

.font-size-xd {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        font-size: 22px;
    }
}

.font-size-md {
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.font-button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
}

.font-bold-small {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

// Margin
.m {
    &-10 {
        margin: 10px;
    }

    &-30 {
        margin: 30px;
    }
}

.mb {
    &-10 {
        margin-bottom: 10px;
    }
}