.balance {
  display: block;
}

.loansTitle {
  color: var(--color-black);
  font-size: calc(var(--font-size-2x) * 1.5);
}
.darkLoansTitle {
  color: var(--color-white);
}
.info {
  width: 100%;
  background: radial-gradient(90.74% 1449.43% at 95.1% 43.8%, #FFC701 0%, #EE6001 100%);
  box-shadow: var(--box-shadow-borrow-limit);
  border-radius: 32px;
  margin-top: calc(var(--padding-normal) * 2);
  padding: 40px;
}

.darkInfo {
  background: none;
}

.netApyWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 12px 40px 12px 24px;
}

.darkNetApyWrapper {
  background: #242426;

}
.infoWrapper .label {
  color: var(--color-gray);
  font-size: var(--font-size-small);
}

.infoWrapper .value {
  color: var(--color-black);
  font-size: var(--font-size-2x);
}
.infoWrapper .darkValue {
  color: var(--color-white);
}

.divider {
  width: 1px;
  height: 100%;
  background-color: var(--color-divider);
  margin: 0px 40px 0px 56px;
}

.status {
  flex: 1;
  margin-left: 115px;
}

.progress {
  position: relative;
  height: 8px;
  background: linear-gradient(
    90deg,
    var(--color-blue) 0%,
    var(--color-yellow) 60%,
    var(--color-red) 100%
  );
  border-radius: 5px;
}

.bar {
  position: absolute;
  height: 8px;
  right: 0;
  border-radius: 5px;
  background: var(--color-divider);
}
.darkBar {
  background: #1A1A1A;
}
.bar_red {
  background: var(--color-red);
}

.bar_yellow {
  background: var(--color-yellow);
}

.bar_blue {
  background: var(--color-blue);
}

.percent {
  position: absolute;
  box-shadow: var(--box-shadow-borrow-limit-btn);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: var(--font-size-small);
  line-height: 16px;
  color: var(--color-white);
}

.percent_red {
  background: var(--color-red);
}

.percent_yellow {
  background: var(--color-yellow);
}

.percent_blue {
  background: var(--color-blue);
}

.mobileInfo {
  display: none;
  background: #ffffff;
  box-shadow: var(--common-shadow);
  border-radius: 16px;
  padding: 16px;
}
@media all and (max-width: 567px) {
  .loansTitle {
    font-size: calc(var(--font-size-2x) / 1.5);
  }
  .info {
    display: none;
  }
  .mobileInfo {
    display: block;
    margin-top: 24px;
  }
  .infoWrapper:not(:last-child) {
    margin-bottom: 8px;
  }
  .infoWrapper .label {
    font-size: var(--font-size-normal);
  }

  .infoWrapper .value {
    font-size: var(--font-size-normal);
  }
}
