.header {
  padding: 108px 0 var(--padding-wide);
}

@media all and (max-width: 767px) {
  .header {
    padding: 80px 0px 30px;
  }
}

@media all and (min-width: 2400px) {
  .header {
    padding: 160px;
  }
}

.lendingTitle {
  color: var(--color-black);
  font-size: calc(var(--font-size-2x) * 2);
}
.requestPoolWrap button {
  background: #2E69FF;
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
}
.darkLendingTitle {
  color: var(--color-white);
}
.content {
  position: relative;
  flex: 1;
  line-height: 1.5;
}

.container {
  position: relative;
  padding: var(--padding-narrow) var(--padding-normal);
  margin-top: 0;
}

.tabs {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 2px solid var(--color-divider);
}

.darkTabs {
  border-bottom: 2px solid #404040;
}

.tabs button {
  background-color: transparent;
  font-size: var(--font-size-normal);
  font-weight: 500;
  color: var(--color-gray);
  margin-bottom: -2px;
  padding-bottom: 12px;
  outline: none;
}

.tabs button:not(:last-child) {
  margin-right: 24px;
}

button.active {
  color: var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

button.darkActive {
  color: #5C8AFF;
  border-bottom: 2px solid #5C8AFF;
}

.noFarms {
  padding: var(--padding-narrow);
}

@media all and (max-width: 767px) {
  .container {
    flex-direction: column;
    top: 0;
  }
}