.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
  line-height: 1.5;
  width: 90%;
  margin: auto;
}

.vestingContent {
  box-shadow: 0px 16px 40px rgb(0 0 0 / 8%);
  border-radius: 16px;
  padding: 40px;
}

.vestingContent h1 {
  margin-bottom: var(--padding-narrow) !important;
}

.vestingContent h3 {
  margin-bottom: var(--padding-narrow) !important;
}

.vestingContent table {
  width: 100%;
  max-width: 420px;
  table-layout: fixed;
}

.vestingContent td:nth-child(2) {
  text-align: right;
}

.vestingContent button {
  width: 100%;
  background: var(--color-black);
  border-radius: 8px;
  padding: 16px 0px;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-white);
  margin-top: var(--padding-narrow);
}
